.favorite-icon {
  font-size: 1.2em;
  color: #dc3545;

}

.favorite-icon:hover {
  cursor: pointer;
}

.favorite-icon.active {
  color: #dc3545;

}

.container {
  padding: 20px;
}

.table-responsive {
  overflow-x: auto;
}
@media (max-width: 900px) {
  .container {
    padding: 15px;
  }

  h1 {
    font-size: 1.8em;
  }

  .input-group {
    flex-direction: column;
  }

  .input-group .form-control,
  .input-group .form-select,
  .input-group .btn {
    margin-bottom: 10px;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .container {
    padding: 10px;
  }

  h1 {
    font-size: 1.5em;
  }

  .table thead {
    display: none;
  }

  .table tbody tr {
    display: block;
    margin-bottom: 10px;
  }

  .table tbody tr td {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #dee2e6;
  }

  .table tbody tr td::before {
    content: attr(data-label);
    flex-basis: 50%;
    text-align: left;
    font-weight: bold;
  }

  .input-group {
    flex-direction: column;
  }

  .input-group .form-control,
  .input-group .form-select,
  .input-group .btn {
    margin-bottom: 10px;
    width: 100%;
  }
}


@media (max-width: 300px) {
  .container {
    padding: 5px;
  }

  h1 {
    font-size: 1.2em;
  }

  .table tbody tr td {
    flex-direction: column;
  }

  .table tbody tr td::before {
    text-align: left;
    margin-bottom: 5px;
  }

  .input-group {
    flex-direction: column;
  }

  .input-group .form-control,
  .input-group .form-select,
  .input-group .btn {
    margin-bottom: 10px;
    width: 100%;
  }
}